{% extends 'base.html' %}

{% block contents %}
<div class="container">
    <h2>{{board}}</h2>
    <table class="table table-striped">   
        <tr>
            <td>Num</td>
            <td>Title</td>
            <td>Writer</td>
            <td>Date</td>
            <td>Hit</td>
        </tr>
        
        {% for board in list %}   
        <tr>
            <td>{{board.num}}</td>
            <td>{{board.title}}</td>
            <td>{{board.writer}}</td>
            <td>{{board.date}}</td>
            <td>{{board.hit}}</td>
        </tr>
        {% endfor %}

    </table>

    <ul class="pagination">
        {% if list.has_previous %}
        <li><a href="../{{list.previous_page_number}}">이전</a></li>
        {% endif %}

        {% if list.has_next %}
        <li><a href="../{{list.next_page_number}}">다음</a></li>
        {% endif %}
      </ul>


</div>
{% endblock contents %}