{% extends 'base.html' %}

{% block contents %}
<div class="container">
    <h2>{{board}}</h2>
    <table class="table table-striped">   
        <tr>
            <td>Num</td>
            <td>Title</td>
            <td>Writer</td>
            <td>Date</td>
            <td>Hit</td>
        </tr>
          
        <tr>
            <td>{{vo.num}}</td>
            <td>{{vo.title}}</td>
            <td>{{vo.writer}}</td>
            <td>{{vo.date}}</td>
            <td>{{vo.hit}}</td>
        </tr>
    </table>
    <div>
        <a href="{% url 'notice:update' vo.num %}" class="btn btn-primary">Update</a>
        <a href="{% url 'notice:delete' vo.num %}" class="btn btn-danger">Delete</a>
    </div>

</div>
{% endblock contents %}